:root {
  --ifm-color-primary: #2457a6;
  --ifm-color-primary-dark: #204d95;
  --ifm-color-primary-darker: #1e498d;
  --ifm-color-primary-darkest: #183c74;
  --ifm-color-primary-light: #2b64b7;
  --ifm-color-primary-lighter: #2f6abe;
  --ifm-color-primary-lightest: #4a7bc7;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #79a7ed;
  --ifm-color-primary-dark: #5d93e8;
  --ifm-color-primary-darker: #4f89e5;
  --ifm-color-primary-darkest: #2868d5;
  --ifm-color-primary-light: #95bbf2;
  --ifm-color-primary-lighter: #a3c4f4;
  --ifm-color-primary-lightest: #c9ddfa;
}

.theme-doc-markdown h1 {
  letter-spacing: 0;
}
